body {
    background-color: rgba(56, 134, 56, 0.548);
}
a:link { 
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:visited {
    background-color: cornsilk;
    text-decoration: none;
}

li {
    list-style: none;
    padding: 10px;
    text-decoration: none;   
}

.home-main {
    height: 100px;
}
.home-image{
    border: black;
}
.navlinks li {
    display: flex;
    float: left;
    margin: px;
    position: -webkit-sticky;
}
ul.directory {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: flex-start;
}
.list-directory {
    flex-direction: column;
    flex-wrap: wrap;
}
.main-heading {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    padding: 0px 20px;
}
#SN-heading {
    font-size: 6vw;
}
#featured-work {
    text-align: center;
}

#seatoun-img {
    display: block;
    margin: none;
    height: auto;
    max-width: 100%;
}
@media (max-width: 600px) {
    ul.directory {
        display: flex;
        flex-direction: column;
        align-content: center;
}
