body {
    margin: 0px;
}

img {
    width: 100%;
    display: block;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgba(115, 198, 236, 0.548);
}
a:link { 
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
a:visited {
    background-color: cornsilk;
    text-decoration: none;
}
.navlinks li:hover {
    transform:scale(1.2);
    transition: 1s ease;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    padding: 10px;
    text-decoration: none; 
      
}

#home-main {
    height: 80px;
}
.home-image{
    border: black;
}
.navlinks li {
    display: block;
    float: left;
    margin: 0px 10px;
    position: -webkit-sticky;
}
li.li-directory:hover{
    transform:scale(1.1);
    transition: 1s ease;
}
ul.directory {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: flex-start;
    padding: 0px 20px;
    flex-wrap: wrap;
    margin: 20px 0px;
    
    
}
li.li-directory {
    box-shadow: 10px 10px 5px 8px rgba(0,0,0,0.75);;
    margin: 20px 10px;
    background-color: rgb(255, 255, 255);
}
.main-heading {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    margin-right: 20px;
}
#SN-heading {
    font-size: 6vw;
}
#Student-heading {
    font-size: 3vw;
}
#featured-work {
    text-align: center;
}

#seatoun-img {
    display: block;
    margin: none;
    height: auto;
    max-width: 100%;
}
.footer-home {
    display: block;
    height: 20px;
    width: 100%;
}
#top {
    float: right;
}
@media (max-width: 400px) {
.navlinks li {
    font-size: 3vw;
}
}

/* Comment Start of Blog Homepage CSS */
#blog-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-right: 20px;


}

.blog-heading { 
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    flex-basis: 80%;
}
.navbar-blog {
    float: left;
}
/* Comment Start of Blog margin,padding,border */
#MBP-content {
    display: flex;
    flex-direction: column;
}

.MBP-article {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 20px;
}

.MBP-figure {
    width: 50%;
    align-self: center;
}
/* Comment Start of learning plan */
.LP-content {
    display: flex;
}

.LP-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
}